<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="bosch.mx.lud1ga.pushcontextflybits270">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="bosch.mx.lud1ga.pushcontextflybits270.permission.C2D_MESSAGE" />

    <permission
        android:name="bosch.mx.lud1ga.pushcontextflybits270.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- BEACON CONTEXT PERMISSION -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- BEACON CONTEXT PERMISSION -->
    <permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- BEACON CONTEXT PERMISSION -->
    <permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>

    <!-- BEACON CONTEXT PERMISSION -->
    <application
        android:name=".PushContextApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        >
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyDMPM4QZAJ8C6jNMliTgWyCMf8a8OgsmI8"
            />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.flybits.apikey"
            android:value="DC8DB88D-7FC3-4CF9-B3F6-C696179AE957" />

        <service
            android:name=".services.FlybitsGCMListener"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.flybits.core.api.services.PushService" />

        <service
            android:name="com.flybits.core.api.context.v2.plugins.network.NetworkContextPluginService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

        <service
            android:name="com.flybits.core.api.context.v2.plugins.battery.BatteryContextPluginService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

        <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- BEACON CONTEXT PERMISSION -->

        <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- BEACON CONTEXT PERMISSION -->

        <service
            android:name="com.flybits.core.api.context.v2.plugins.location.LocationContextPluginService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>
        <service
            android:name="com.flybits.core.api.context.v2.services.ContextRulesService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>
        <service
            android:name="com.flybits.core.api.context.v2.services.ContextUploadingService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

        <!-- *************** Activity recognition *************** -->
        <service android:name="com.flybits.core.api.context.v2.plugins.activity.ActivityContextPluginService"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>
        <service android:name="com.flybits.core.api.context.v2.plugins.activity.DeviceRecognitionServiceIntent" />

        <service
            android:name="com.flybits.core.api.context.v2.plugins.beacon.BeaconScanningService"
            android:enabled="true" />
    </application>

</manifest>